header.bar{background-color: #9bcb67;}
.content {background-color: #fff;}
.swiper-pagination-bullet-active{background-color: #9bcb67;}
.swiper-wrapper > .swiper-slide > img {width:100%;}
.msg-list img{width:100%;}
.icon-link .col-25{ text-align: center;}
.icon-link img{width:80%;}
.icon-link p{line-height: .1rem; font-size: .7rem; color: #555;}
/*css sprite*/

.sprite-icon > .row .col-25 > div {width:3.3rem;height:3.3rem;position: relative;overflow: hidden; margin: 0 auto;}
.sprite-icon > .row .col-25 > div > img {position: absolute;width:100%;left: 0}
.sprite-icon > .row:first-child > .col-25:nth-of-type(2) img {top:-3.3rem}
.sprite-icon > .row:first-child > .col-25:nth-of-type(3) img {top:-6.6rem}
.sprite-icon > .row:first-child > .col-25:nth-of-type(4) img {top:-9.9rem}
.sprite-icon > .row:nth-of-type(2) > .col-25:nth-of-type(1) img {top:-13.2rem}
.sprite-icon > .row:nth-of-type(2) > .col-25:nth-of-type(2) img {top:-16.5rem}
.sprite-icon > .row:nth-of-type(2) > .col-25:nth-of-type(3) img {top:-19.8rem}
.sprite-icon > .row:nth-of-type(2) > .col-25:nth-of-type(4) img {top:-23.1rem}
/*css sprite*/
.msg-title {font-size: .8rem; font-weight: 400; background: url("../images/msg-title-icon.gif") no-repeat; text-indent: 1rem; background-size: .8rem; line-height: .8rem}
.msg-box {border-bottom:1px solid #efefef; padding: .5rem 0;}
.msg-box > .col-60 > h4{ margin: 0; padding: 0; font-weight: 400; font-size: .8rem; color: #000;display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;}

.msg-box > .col-40 > img{float: left; border: 1px solid #efefef;}
.msg-box > .col-60 > p{ margin: .5rem 0 0 0; padding: 0; font-weight: 400; font-size: .7rem; color: #555;}
.bar{ background-color: #fff;border-top: 1px solid #c5c5c5;}

/*svg sprite*/
.bar-tab .tab-item.active, .bar-tab .tab-item:active{ color: #9bcb67}
.bar-tab svg{width: 1rem; height:1rem;fill: #999;}
.bar-tab > .active  svg {fill: #9bcb67;}
/*svg sprite*/